In [1]:
import csv 
import pandas as pd
import numpy as np

CSV File Paths

In [2]:
facilities_path = '/home/elena/Documents/affirm-take-home-interview-sept-2018/large/facilities.csv'
banks_path = '/home/elena/Documents/affirm-take-home-interview-sept-2018/large/banks.csv'
covenants_path = '/home/elena/Documents/affirm-take-home-interview-sept-2018/large/covenants.csv'
loans_path = '/home/elena/Documents/affirm-take-home-interview-sept-2018/large/loans.csv'

Using Pandas to read CSV files into Dataframes

In [3]:
DF_FACILITIES = pd.read_csv(facilities_path)
DF_BANKS = pd.read_csv(banks_path)
DF_COVENANTS = pd.read_csv(covenants_path)
DF_LOANS = pd.read_csv(loans_path)

In [4]:
DF_LOANS.head().sort_values(by='default_likelihood', ascending = False)

   interest_rate  amount  id  default_likelihood state
2           0.35   92388   3                0.07    SC
4           0.35   76811   5                0.07    WA
1           0.25   47821   2                0.05    TN
0           0.25   23549   1                0.04    LA
3           0.15   13961   4                0.01    OK

In [5]:
DF_COVENANTS.sort_values(by=['max_default_likelihood'])

    facility_id  max_default_likelihood  bank_id banned_state
13           15                    0.06        2           UT
22            6                    0.08        5           KY
0             1                    0.09        3           ND
1             5                    0.09        1           LA
2             4                    0.09        4           PA
3             7                    0.09        5           RI
5             8                    0.09        1           OK
7            11                    0.09        3           TN
11            3                    0.09        4           MA
20            2                    0.09        4           TX
21           12                    0.09        5           MA
24           10                    0.09        1           DE
28           13                    0.09        1           VT
29            9                    0.09        2           IL
15           14                    0.15        1           NH
4             3                     NaN        4           ND
6            11                     NaN        3           KS
8             1                     NaN        3           MO
9             3                     NaN        4           NE
10            3                     NaN        4           PA
12           12                     NaN        5           SC
14            8                     NaN        1           MD
16           15                     NaN        2           MD
17           14                     NaN        1           SD
18           15                     NaN        2           MS
19            5                     NaN        1           WA
23            2                     NaN        4           VA
25            7                     NaN        5           DE
26            6                     NaN        5           WI
27            2                     NaN        4           ND
30            5                     NaN        1           CT
31           11                     NaN        3           MI
32           11                     NaN        3           IA
33           12                     NaN        5           WA
34            5                     NaN        1           CO

In [6]:
for attribute in DF_COVENANTS.columns:
    print('FEATURE:', attribute, ' UNIQUE VALUES:', len(DF_COVENANTS[attribute].unique()))

FEATURE: facility_id  UNIQUE VALUES: 15
FEATURE: max_default_likelihood  UNIQUE VALUES: 5
FEATURE: bank_id  UNIQUE VALUES: 5
FEATURE: banned_state  UNIQUE VALUES: 28

In [21]:
def clean_facility_data(DF_FACILITIES):
    DF_CLEAN_FACILITIES = DF_FACILITIES.rename(columns = {'id': 'facility_id'}).sort_values(by='facility_id').reset_index(drop=True)
    DF_CLEAN_FACILITIES.index = DF_CLEAN_FACILITIES.index + 1
    return DF_CLEAN_FACILITIES.to_dict(orient = 'index')

      amount  interest_rate  facility_id  bank_id
1  1936153.0           0.02            1        3
2  1642900.0           0.03            2        4
3  2252606.0           0.03            3        4
4  1983921.0           0.03            4        4
5  1779071.0           0.04            5        1
{1: {'amount': 1936153.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}, 2: {'amount': 1642900.0, 'interest_rate': 0.03, 'facility_id': 2, 'bank_id': 4}, 3: {'amount': 2252606.0, 'interest_rate': 0.03, 'facility_id': 3, 'bank_id': 4}, 4: {'amount': 1983921.0, 'interest_rate': 0.03, 'facility_id': 4, 'bank_id': 4}, 5: {'amount': 1779071.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}, 6: {'amount': 1830954.0, 'interest_rate': 0.04, 'facility_id': 6, 'bank_id': 5}, 7: {'amount': 1678565.0, 'interest_rate': 0.05, 'facility_id': 7, 'bank_id': 5}, 8: {'amount': 2234064.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}, 9: {'amount': 2127767.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}, 10: {'amount': 2129005.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}, 11: {'amount': 1938038.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}, 12: {'amount': 1991011.0, 'interest_rate': 0.06, 'facility_id': 12, 'bank_id': 5}, 13: {'amount': 492585.0, 'interest_rate': 0.07, 'facility_id': 13, 'bank_id': 1}, 14: {'amount': 23549.0, 'interest_rate': 0.08, 'facility_id': 14, 'bank_id': 1}, 15: {'amount': 23549.0, 'interest_rate': 0.09, 'facility_id': 15, 'bank_id': 2}}

In [71]:
def create_assignment_table(LOAN_DATA, COVENANT_DATA, FACILITY_DATA):
    COVENANT_DATA = COVENANT_DATA.fillna(1).sort_values(by=['bank_id'])
    DF_ASSIGNMENTS =  pd.DataFrame(columns=['loan_id', 'facility_id'])
    FACILITY_DATA = clean_facility_data(FACILITY_DATA)
    for index, loan in LOAN_DATA.iterrows():
        for index, covenant in COVENANT_DATA.iterrows():
            if (loan['default_likelihood'] < covenant['max_default_likelihood']) & (loan['state'] != covenant['banned_state']):
                facility_status = FACILITY_DATA.get(covenant['facility_id'])
                difference = facility_status.get('amount') - loan['amount']
                if (difference) > 0:
                    facility_status['amount'] = difference
                    FACILITY_DATA[covenant['facility_id']] = facility_status
                    print(covenant['facility_id'], 1111111111111, FACILITY_DATA[covenant['facility_id']])
                    DF_ASSIGNMENTS = DF_ASSIGNMENTS.append({'loan_id': loan['id'], 'facility_id':covenant['facility_id']}, ignore_index=True)
                    break
    return(DF_ASSIGNMENTS)

In [72]:
df_test = create_assignment_table(DF_LOANS, DF_COVENANTS, DF_FACILITIES)
df_test.to_csv(path_or_buf = 'assignments_test.csv', index=False)

      amount  interest_rate  facility_id  bank_id
1  1936153.0           0.02            1        3
2  1642900.0           0.03            2        4
3  2252606.0           0.03            3        4
4  1983921.0           0.03            4        4
5  1779071.0           0.04            5        1
5 1111111111111 {'amount': 1755522.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 1707701.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 1615313.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
14 1111111111111 {'amount': 9588.0, 'interest_rate': 0.08, 'facility_id': 14, 'bank_id': 1}
5 1111111111111 {'amount': 1538502.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 1493531.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
13 1111111111111 {'amount': 401911.0, 'interest_rate': 0.07, 'facility_id': 13, 'bank_id': 1}
5 1111111111111 {'amount': 1461499.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 1440670.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 1358282.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
13 1111111111111 {'amount': 306721.0, 'interest_rate': 0.07, 'facility_id': 13, 'bank_id': 1}
5 1111111111111 {'amount': 1281479.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 1211975.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 1153082.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 1137101.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 1122632.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 1043737.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 959194.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 947881.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 879800.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 813933.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 792670.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 767145.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 675282.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 620174.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 608482.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 577217.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 480025.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 388438.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 347206.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 301472.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 234754.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 158775.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 75253.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
5 1111111111111 {'amount': 64237.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
8 1111111111111 {'amount': 2142844.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
5 1111111111111 {'amount': 9769.0, 'interest_rate': 0.04, 'facility_id': 5, 'bank_id': 1}
13 1111111111111 {'amount': 222409.0, 'interest_rate': 0.07, 'facility_id': 13, 'bank_id': 1}
8 1111111111111 {'amount': 2066383.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
13 1111111111111 {'amount': 135988.0, 'interest_rate': 0.07, 'facility_id': 13, 'bank_id': 1}
13 1111111111111 {'amount': 93619.0, 'interest_rate': 0.07, 'facility_id': 13, 'bank_id': 1}
13 1111111111111 {'amount': 43866.0, 'interest_rate': 0.07, 'facility_id': 13, 'bank_id': 1}
13 1111111111111 {'amount': 9482.0, 'interest_rate': 0.07, 'facility_id': 13, 'bank_id': 1}
10 1111111111111 {'amount': 2053386.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 1996549.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 1917482.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
8 1111111111111 {'amount': 1992760.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
10 1111111111111 {'amount': 1858423.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 1801008.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 1726842.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 1675139.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 1580305.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 1527112.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 1465075.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 1444673.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 1413655.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 1328698.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 1312487.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 1240121.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 1192829.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 1102035.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 1043585.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 1000135.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 933692.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 905088.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 841343.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 812607.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 739652.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
8 1111111111111 {'amount': 1904098.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
10 1111111111111 {'amount': 659974.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 589818.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 572262.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 546295.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 470428.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 379776.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 369206.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 353252.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 256809.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 195682.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 123708.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 70438.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
10 1111111111111 {'amount': 42013.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
8 1111111111111 {'amount': 1812142.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 1754152.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 1659712.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 1609144.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
10 1111111111111 {'amount': 8389.0, 'interest_rate': 0.06, 'facility_id': 10, 'bank_id': 1}
8 1111111111111 {'amount': 1587007.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 1546253.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 1515534.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 1427661.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 1341970.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 1320577.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 1230763.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 1158999.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 1070452.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 1002929.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 931020.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 859099.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 837515.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 743115.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 690132.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 675321.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 662204.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 647536.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 547821.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 497388.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 400315.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 302339.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 225990.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 135118.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 119956.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 94593.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
8 1111111111111 {'amount': 32016.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
9 1111111111111 {'amount': 2080373.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 2034708.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 1942709.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 1881510.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 1841019.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 1787738.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
8 1111111111111 {'amount': 12745.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
9 1111111111111 {'amount': 1703996.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 1642825.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
8 1111111111111 {'amount': 795.0, 'interest_rate': 0.05, 'facility_id': 8, 'bank_id': 1}
1 1111111111111 {'amount': 1903199.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
9 1111111111111 {'amount': 1598574.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 1543108.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 1514269.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 1472651.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 1404356.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 1308890.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 1297905.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 1229028.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 1213418.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 1197340.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 1137427.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
1 1111111111111 {'amount': 1876180.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
9 1111111111111 {'amount': 1110934.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 1075346.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 1006840.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 920499.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 869183.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 788440.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 741215.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 674145.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 620575.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 544941.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
1 1111111111111 {'amount': 1781817.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
9 1111111111111 {'amount': 480767.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 423296.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
1 1111111111111 {'amount': 1753457.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
9 1111111111111 {'amount': 386989.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 301857.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 235732.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 211676.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 192547.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 132547.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
9 1111111111111 {'amount': 41625.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
1 1111111111111 {'amount': 1725019.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
9 1111111111111 {'amount': 21601.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
1 1111111111111 {'amount': 1678314.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 1621195.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
11 1111111111111 {'amount': 1857827.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
1 1111111111111 {'amount': 1573147.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 1496962.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 1400888.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 1364880.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 1286337.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 1195961.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 1110687.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 1070936.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 971923.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
9 1111111111111 {'amount': 8307.0, 'interest_rate': 0.06, 'facility_id': 9, 'bank_id': 2}
1 1111111111111 {'amount': 875974.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 842372.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
15 1111111111111 {'amount': 10953.0, 'interest_rate': 0.09, 'facility_id': 15, 'bank_id': 2}
1 1111111111111 {'amount': 753445.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 685118.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 598365.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 570928.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 542591.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 464657.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 366067.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
11 1111111111111 {'amount': 1816404.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
1 1111111111111 {'amount': 306025.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 251867.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 213303.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 156413.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
11 1111111111111 {'amount': 1721095.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
1 1111111111111 {'amount': 61460.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
1 1111111111111 {'amount': 42482.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
11 1111111111111 {'amount': 1627576.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
11 1111111111111 {'amount': 1580022.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
11 1111111111111 {'amount': 1535646.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
11 1111111111111 {'amount': 1493108.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
11 1111111111111 {'amount': 1398845.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
11 1111111111111 {'amount': 1312498.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
11 1111111111111 {'amount': 1220582.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
1 1111111111111 {'amount': 31160.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
11 1111111111111 {'amount': 1133965.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
1 1111111111111 {'amount': 1867.0, 'interest_rate': 0.02, 'facility_id': 1, 'bank_id': 3}
11 1111111111111 {'amount': 1094032.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
11 1111111111111 {'amount': 1018724.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
11 1111111111111 {'amount': 969906.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
11 1111111111111 {'amount': 906211.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
11 1111111111111 {'amount': 877008.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
11 1111111111111 {'amount': 826315.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
11 1111111111111 {'amount': 753917.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
11 1111111111111 {'amount': 694766.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
11 1111111111111 {'amount': 681657.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}
11 1111111111111 {'amount': 619220.0, 'interest_rate': 0.06, 'facility_id': 11, 'bank_id': 3}

In [73]:
def get_expected_yeild(default_likelihood, loan_interest_rate, amount, facility_interest_rate):
    return (1 - default_likelihood) * loan_interest_rate * amount - default_likelihood * amount - facility_interest_rate * amount

In [74]:
def create_yeild_table(assigned_csv, LOAN_DATA, FACILITY_DATA):
    DF_ASSIGNED = pd.read_csv(assigned_csv)
    LOAN_DATA = LOAN_DATA.rename(columns = {'id':'loan_id', 'interest_rate':'loan_interest_rate'})
    FACILITY_DATA = FACILITY_DATA.rename(columns = {'id':'facility_id', 'amount':'facility_amount'})
    ASSIGNED_LOANS = pd.merge(DF_ASSIGNED, LOAN_DATA, on='loan_id')
    ALL_TOGETHER_NOW = pd.merge(FACILITY_DATA, ASSIGNED_LOANS, on = 'facility_id')
    DF_YIELD =  pd.DataFrame(columns=['facility_id', 'expected_yield'])
    for index, assignment in ALL_TOGETHER_NOW.iterrows():
        facility_amount, interest_rate, facility_id, bank_id,loan_id,loan_interest_rate, amount, default_likelihood, state = assignment
        expected_yield = get_expected_yeild(default_likelihood, loan_interest_rate, amount, interest_rate)
        DF_YIELD = DF_YIELD.append({'facility_id': facility_id, 'expected_yield':expected_yield}, ignore_index=True)
    return DF_YIELD

In [75]:
yield_test = create_yeild_table('assignments_test.csv', DF_LOANS, DF_FACILITIES)

In [76]:
yield_test = yield_test.groupby(['facility_id']).sum()

In [77]:
yield_test.to_csv(path_or_buf = 'yield_test.csv')